:root {
  --mainbgcolor: #ffffff;
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--mainbgcolor);
}

.debug {
  border: 1px solid #d00;
}

.header-desktop {
  list-style: inherit;
  display: flex;
  justify-content: center;
  padding: 12px 0px;
  border-bottom: 1px solid #E7E9FC;
}

.header-nav {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.list {
  list-style: none;
  display: inherit;
}

.list-inline {
  padding-inline-start: 0;
  list-style: none;
  display: inherit;
}

.list-item {
  margin-right: 20px;
}

.link {
  text-decoration: none;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
 /* background: linear-gradient(90deg, #4d5ae5 0%, #4d5ae5 42%, #2e2f42 42%);
  -webkit-background-clip: text; */
  color: var(--iriscolor);
  /* color: transparent; */
  text-transform: uppercase;
}

.navy-blue { 
  color: var(--navyblue);
}

.ref-nav {
  text-decoration: none;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ref-nav:hover,
.ref-nav:focus {
  color: #404bbf;

}

.ref-addr {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-header {
  width: 50%;
  display: inherit;
  font-style: normal;
  justify-content: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-one {
  background-color: #2e2f42;
  padding: 188px 0px;
}

.section-two {
  padding: 30px 0px;
}

.section-three {
  padding: 90px 0px;
}

.section-four {
  background-color: #f4f4fd;
  padding: 120px 0px;
}

.moto {
  color: #ffffff;
  width: 530px;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button-primary {
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  background: #404bbf;
}

.header-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.header-transparent {
  color: transparent;
  line-height: 48px;
}

.features-list {
  padding-inline-start: 0;
  width: 1128px;
}

.list-item-features {
  margin-right: 16px;
}

.header-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.header-examples {
  line-height: 1.5;
}

.list-examples {
  padding: 48px 0px;
  gap: 24px;
  padding-inline-start: 0;
  width: 1128px;
  flex-wrap: wrap;
}

.list-item-examples {
  margin: 24px 0px;
}

.text-features {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-section {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  font-size: 36px;
}

.capitalized {
  text-transform: capitalize;
}

.list-item-img {
  border: 1px solid #e7e9fc;
}

.list-item-team {
  background-color: #fff;
}

.header-team {
  justify-content: center;
  margin: 18px 0px;
}

.text-team {
  justify-content: center;
  font-size: 18px;
}

.footer-desktop {
  background-color: #2e2f42;
  color: #4d5ae5;
  padding: 100px 156px;
}

.footer-span {
  color: #f4f4fd;
}

.footer-paragraph {
  width: 264px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--cloud);
}

.button-filter {
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  color: #4d5ae5;
}

.button-filter:hover,
.button-filter:focus {
  background-color: #404bbf;
  color: #ffffff;
}
